.home {
  .el-col {
    margin-bottom: 10px;
  }
  .num {
    margin-bottom: 10px;
    .el-card {
      text-align: center;
      padding: 5px;

      .detail {
        i {
          font-size: 50px;
        }
        .split {
          width: 60px;
          height: 1px;
          display: block;
          margin: 2px auto;
          background: #9b9b9b;
        }
        .text-box {
          font-weight: bold;
          font-size: 18px;
          color: #15a0ff;
          span {
            color: #9b9b9b;
            font-size: 12px;
          }
        }
      }
    }
  }
  .home-left {
    margin-bottom: 10px;
    .user-info {
      height: 220px;

      span {
        font-size: 12px;
      }
      .user-photo {
        margin: 5px auto;
        padding: 3px;
        width: 100px;
        text-align: center;
        border-bottom: 1px solid #666666;
        img {
          width: 90px;
          height: 90px;
          margin-bottom: 3px;
          border: 3px solid #f8f8f8;
          border-radius: 50%;
          box-shadow: 0 0 3px 1px #cccccc;
        }
        .name {
          font-size: 16px;
          font-weight: 200;
        }
      }
      .rank {
        text-align: center;
        margin-top: 5px;
        p {
          font-size: 12px;
          line-height: 20px;
          color: #666666;
        }
        span {
          font-size: 8px;
          line-height: 3px;
          color: #9b9b9b;
        }
      }
    }
    .new {
      height: 381px;
      span {
        font-size: 12px;
        color: #9b9b9b;
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  .home-right {
    .chart-box-l {
    }
    .chart-box-r {
    }
  }
  .box {
    height: 300px;
  }
}
