.tag {
  padding: 6px;
  background: #fff;
  border-bottom: 1px solid #d8dce5;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 0 3px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  .tag-item {
    margin-left: 8px;
  }
  white-space: nowrap;
  overflow-x: auto;

  .el-tag {
    &.el-tag--dark {
      &::before {
        content: '';
        background: #fff;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: relative;
        margin-right: 3px;
      }
    }
    display: inline-block;
    height: 27px;
    line-height: 27px;
    cursor: pointer;
    .el-tag__close {
      color: #cccccc;
      &:hover {
        color: #fff;
        background-color: #cccccc;
      }
    }
  }
}
